p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #ffffff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #dddddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 20%;
    position: fixed;
    padding-top: 6vh;
    top: 0;
    left: 0;
    z-index: 6;
    height: 100%;
    background: #7386D5;
    color: #ffffff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -20%;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #ffffff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #ffffff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #ffffff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #ffffff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #ffffff !important;
}

/* ---------------------------------------------------
    SEARCH BAR
----------------------------------------------------- */

.navbar .search-container {
  float: right;
}

.navbar select {
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    height: 40px;
    width: 128px;
    padding: 2px 10px;
    color: #ffffff;
    background-color: #39a2b9;
}

.navbar input[type="text"] {
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    height: 40px;
    width: 300px;
    padding: 2px 10px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 80%;
    height: 100%;
    padding-top: 6%;
    padding-left: 2%;
    padding-right: 2%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -20%;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: 80%;
    }
    #sidebarCollapse span {
        display: none;
    }
}
