<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><i class="fa fa-bar-chart"></i>&nbsp;Statistics</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Cool Charts Powered by Lilac</p>
            <li>
                <a href="#AuthorRanking" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-paw"></i>&nbsp;Author Ranking
                </a>
                <ul class="collapse list-unstyled" id="AuthorRanking">
                    <li>
                        <a href="/stats/author-ranking/cvpr/2020">
                            <i class="fa fa-angle-double-right"></i>&nbsp;CVPR 2020
                        </a>
                    </li>
                    <li>
                        <a href="/stats/author-ranking/cvpr/2019">
                            <i class="fa fa-angle-double-right"></i>&nbsp;CVPR 2019
                        </a>
                    </li>
                    <li>
                        <a href="/stats/author-ranking/cvpr/2018">
                            <i class="fa fa-angle-double-right"></i>&nbsp;CVPR 2018
                        </a>
                    </li>
                    <li>
                        <a href="/stats/author-ranking/cvpr/2017">
                            <i class="fa fa-angle-double-right"></i>&nbsp;CVPR 2017
                        </a>
                    </li>
                    <li>
                        <a href="/stats/author-ranking/cvpr/2016">
                            <i class="fa fa-angle-double-right"></i>&nbsp;CVPR 2016
                        </a>
                    </li>
                    <li>
                        <a href="/stats/author-ranking/cvpr/2015">
                            <i class="fa fa-angle-double-right"></i>&nbsp;CVPR 2015
                        </a>
                    </li>
                    <li>
                        <a href="/stats/author-ranking/cvpr/2014">
                            <i class="fa fa-angle-double-right"></i>&nbsp;CVPR 2014
                        </a>
                    </li>
                    <li>
                        <a href="/stats/author-ranking/cvpr/2013">
                            <i class="fa fa-angle-double-right"></i>&nbsp;CVPR 2013
                        </a>
                    </li>
                    <li>
                        <a href="/stats/author-ranking/wacv/2021">
                            <i class="fa fa-angle-double-right"></i>&nbsp;WACV 2021
                        </a>
                    </li>
                    <li>
                        <a href="/stats/author-ranking/wacv/2020">
                            <i class="fa fa-angle-double-right"></i>&nbsp;WACV 2020
                        </a>
                    </li>
                    <li>
                        <a href="/stats/author-ranking/iccv/2019">
                            <i class="fa fa-angle-double-right"></i>&nbsp;ICCV 2019
                        </a>
                    </li>
                    <li>
                        <a href="/stats/author-ranking/iccv/2017">
                            <i class="fa fa-angle-double-right"></i>&nbsp;ICCV 2017
                        </a>
                    </li>
                    <li>
                        <a href="/stats/author-ranking/iccv/2015">
                            <i class="fa fa-angle-double-right"></i>&nbsp;ICCV 2015
                        </a>
                    </li>
                    <li>
                        <a href="/stats/author-ranking/iccv/2013">
                            <i class="fa fa-angle-double-right"></i>&nbsp;ICCV 2013
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/stats/paper-statistics"><i class="fa fa-paw"></i>&nbsp;Paper Statistics</a>
            </li>
            <li>
                <a href="/stats/word-cloud"><i class="fa fa-paw"></i>&nbsp;Word Cloud</a>
            </li>
        </ul>
    </nav>
</div>
