<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><i class="fa fa-institution"></i>&nbsp;Library</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Welcome to the CV World!</p>
            <li>
                <a href="/library/search-retry/return=/library/allcvs"><i class="fa fa-clone"></i>&nbsp;All CVs</a>
            </li>
            <li>
                <a href="#CVPRbyYear" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-sitemap"></i>&nbsp;CVPR by Year
                </a>
                <ul class="collapse list-unstyled" id="CVPRbyYear">
                    <li>
                        <a href="/library/search-retry/return=/library/cvpr/2020">
                            <i class="fa fa-angle-double-right"></i>&nbsp;2020, Virtual
                        </a>
                    </li>
                    <li>
                        <a href="/library/search-retry/return=/library/cvpr/2019">
                            <i class="fa fa-angle-double-right"></i>&nbsp;2019, Long Beach California
                        </a>
                    </li>
                    <li>
                        <a href="/library/search-retry/return=/library/cvpr/2018">
                            <i class="fa fa-angle-double-right"></i>&nbsp;2018, Salt Lake City Utah
                        </a>
                    </li>
                    <li>
                        <a href="/library/search-retry/return=/library/cvpr/2017">
                            <i class="fa fa-angle-double-right"></i>&nbsp;2017, Honolulu Hawaii
                        </a>
                    </li>
                    <li>
                        <a href="/library/search-retry/return=/library/cvpr/2016">
                            <i class="fa fa-angle-double-right"></i>&nbsp;2016, Las Vegas Nevada
                        </a>
                    </li>
                    <li>
                        <a href="/library/search-retry/return=/library/cvpr/2015">
                            <i class="fa fa-angle-double-right"></i>&nbsp;2015, Boston Massachusetts
                        </a>
                    </li>
                    <li>
                        <a href="/library/search-retry/return=/library/cvpr/2014">
                            <i class="fa fa-angle-double-right"></i>&nbsp;2014, Columbus Ohio
                        </a>
                    </li>
                    <li>
                        <a href="/library/search-retry/return=/library/cvpr/2013">
                            <i class="fa fa-angle-double-right"></i>&nbsp;2013, Portland Oregon
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#OtherCVs" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-sitemap"></i>&nbsp;Other CVs
                </a>
                <ul class="collapse list-unstyled" id="OtherCVs">
                    <li>
                        <a href="/library/search-retry/return=/library/othercvs/wacv/2021">
                            <i class="fa fa-angle-double-right"></i>&nbsp;WACV 2021, Virtual
                        </a>
                    </li>
                    <li>
                        <a href="/library/search-retry/return=/library/othercvs/wacv/2020">
                            <i class="fa fa-angle-double-right"></i>&nbsp;WACV 2020, Snowmass Colorado
                        </a>
                    </li>
                    <li>
                        <a href="/library/search-retry/return=/library/othercvs/iccv/2019">
                            <i class="fa fa-angle-double-right"></i>&nbsp;ICCV 2019, Seoul Korea
                        </a>
                    </li>
                    <li>
                        <a href="/library/search-retry/return=/library/othercvs/iccv/2017">
                            <i class="fa fa-angle-double-right"></i>&nbsp;ICCV 2017, Venice Italy
                        </a>
                    </li>
                    <li>
                        <a href="/library/search-retry/return=/library/othercvs/iccv/2015">
                            <i class="fa fa-angle-double-right"></i>&nbsp;ICCV 2015, Santiago Chile
                        </a>
                    </li>
                    <li>
                        <a href="/library/search-retry/return=/library/othercvs/iccv/2013">
                            <i class="fa fa-angle-double-right"></i>&nbsp;ICCV 2013, Sydney Australia
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
