{% extends "base.html" %}

{% load static %}

<!-- Optional CSS -->
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/getstarted.css' %}">
{% endblock %}

<!-- Content -->
{% block content %}
    <div class="bg">
        <div class="logo-centered">
            <img src="/static/images/logo-white.png" height="110" width="auto" alt="logo">
        </div>
        <div class="cta-text">
            <h1 style="font-family: cursive; font-size: 6vh">Get All 0f CVPR</h1>
            <br>
            <h4 style="font-family: cursive; font-size: 3vh">
                Save Your Time in Searching Papers<br><br><br>
            </h4>
            <a href="/user/login">
                <button class="btn-hvr" style="vertical-align: middle; font-family: cursive"><span>Get Started</span></button>
            </a>
        </div>
    </div>
{% endblock %}
